 .navbar {
    background-color: rgb(0, 0, 0);
 }
 .navbar-nav .nav-item .nav-link {
    position: relative;
}
.nav-link,.navbar-brand {
    color: white;
}
.navbar-nav .nav-item .nav-link::after {

    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: red;
    bottom: -2px; /* Adjust this value for the spacing */
    left: 0;
    transition: width 0.3s;
}

.navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    color: red;    
}
.navigation {
    z-index: 999;
}

#myCarousel {
    height: 600px;
    z-index: 1;
    border: 2px black ridge;
}

#myCarousel img {
    height: 600px;
    object-fit: cover;
}
.author-card img {
    object-fit: cover;
}

.author-card {
    max-height: 500px;
    overflow: hidden;
}
.author-intro li{
    font-size: large;
    font-weight: 600;
    list-style: none;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.author-intro-item h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 1;
    text-decoration: underline dotted;
    cursor: pointer;
    transition: 0.3s;
}

.author-intro-item h1:hover {
    color: rgb(255, 255, 255);
}

.author-intro-item h1:hover::after {
    content: '->';
    color: rgb(255, 255, 255);
    position: absolute;
}

.author-intro-item:hover {
    transition: 0.3s;
    color: antiquewhite;
}


.vertical-line {
    width: 2px;
    height: 80px; /* Adjust this value to match the height of your content */
    background-color: rgb(185, 65, 65);
    margin: 0 20px;
}
